 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    clip-path: polygon(0 0,
     100% 0,
     100% 87%,
     87% 100%,
     0 100%);
   
}
.m1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    padding-left: 25px;
    padding-top: 10px;
    

}
.m2{
    grid-row-start: 2;
    grid-row-end: 5;
    margin-left: 27px;
    background-color: #832c2d;
}
.m3{
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #832c2d;
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.m1 img{
    width: 100px;
    height: 100px;

}
input{
    width: 450px;
    height: 50px;
    padding-left: 5px;
    color: white;
    font-size: 20px;
    background-color: #832c2d;
    color: white;
    border: 3px solid white;

    
}
.m2 h1{
    color: white;
    padding-left: 11%;
    padding-top: 33%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5.8rem;
    font-weight: 900;
}
.m2 p{
    padding-left: 11%;
    font-size: 1.6rem;
}
.m2 h3{
    padding-left: 11%;
    font-size: 3.5rem;
}
input[type='checkbox']{
    width: 16px;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #832c2d;
    border: 1px solid white;
    cursor: pointer;
    position: relative;

}
input[type="checkbox"]:checked{
       background-color: #832c2d;
}
input[type="checkbox"]:checked::after{
    content: "✔";
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    top: -2px;
    left: 2px;


}
.m{
    display: flex;
    gap: 20px;
}
.m3 h4{
    font-size: 2.5rem;
}
.m3 h2{
    font-size: 13px;
    font-weight: 00;
    color: white;
}
textarea{
    width: 450px;
    height: 80px;
    padding-left: 5px;
    color: white;
    font-size: 20px;
    background-color: #832c2d;
    border: 3px solid white;
}
button{
    width: 430px;
    height: 50px; 
    margin-top:0px;
    margin-bottom: 8rem;
}
html body div::placeholder{
    color: white;
    opacity: 1;

}
.main-box{
    display: grid;

    padding: 1px;
    gap: 1px;
    max-width: 600px;
    min-height: 100px;
    margin-top: 3px;
}
.top-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.box1,.box2{
    height: 20px;
    margin-top: 10px;
    color: white;
}
 .box1{
    height: 20px;
    margin-top: 10px;
    color: white;
 }
.class-bottom{
    height: 90px;
    padding-top: 10px;
}
.box2 button{
    width: 15px;
    height: 15px;
  
}
.btn{
    margin-top: 2rem;

}
::placeholder{
    color: white;
}
.m01{
    height: 70px;
    font-size: 20px;
    color: rgba(19, 16, 16, 0.384);
}
